
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,800&display=swap');


* {
    margin: 0;
    font-family: 'Roboto Flex', sans-serif;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    height: 30px;
    width: 140px;
    border-radius: 5px;
    margin: 10px 0px
}

/* navbar */
nav {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
}

nav p {
    font: 24px 800 #F9FAF8;
    padding: 10px;
}

#links {
    display: flex;
}

nav a {
    padding: 10px;
    font: 18px #E5E7EB;
    color: #F9FAF8;
}

/* top section */
#header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 60px 80px;
    display: flex;
    margin: auto;
    justify-content: space-between
}

aside {
    flex: 1;
    padding-right: 50px
}

h1 {
    font: 48px 800 #F9FAF8;
    padding: 15px 0px
}

#header p {
    font: 18px #E5E7EB
}

#top-image {
    padding-left: 50px;
    flex: 2;
    width: 700px;
    height: auto

}

/* information section */
#information-div {
    display: block;
    justify-content: center;
}

h2 {
    font: 36px 800 #1f2937;
    text-align: center;
    padding: 20px
}

#pictures-div {
    margin: auto;
    width: 800px;
    display: flex;
    justify-content: space-between
}

.pic-div {
    color: #1F2937;
}
.info-image {
    height: 150px;
    width: 150px;
    border: 2px solid #3882F6 ;
    border-radius: 10px;
    margin: 20px
}

/* quote section */
#quote-div {
    background-color: #E5E7EB;
}

blockquote {
    font: 36px light italic #1F2937

}

cite {
    color: #1F2937
}

/* sign-up section */
#signup-div{
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
}

#second-signup-div {
    width: 75vw;
    margin: 50px;
    padding: 40px 80px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

/* footer */
footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 20px;
}